nav {
    z-index: 999;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    float: left;
    display: block;
    color: rgb(170, 215, 255);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover {
    background-color: rgb(148, 255, 255);
    color: black;
}
nav a.active {
    background-color: rgb(121, 212, 255);
    color: black
}
nav img {
    position: relative;
    float: right;
    height: 40px;
    margin: 5px;

}

main {
    margin-top: 60px;
}